/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #eeeeee;
}
table {
    border-spacing: 0;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: normal;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] { 
    margin:0 !important;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #eeeeee;
}
.webkit {
    max-width: 580px;
    margin: 0 auto;
}
.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 580px;
}

.padding {
    padding-top: 25px;
}

.full-width-image img {
    width: 100%;
    max-width: 580px;
    height: auto;
}
.inner {
    padding: 10px;
}

.one-column .inner {
    padding-left: 80px;
    padding-right: 80px;
}
p {
    Margin: 0;
    padding-top: 10px;
    color: #222222;
    font-size: 12px;
    line-height:20px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: normal;
    text-align: left;
}
a {
    color: #ee6a56;
    text-decoration: underline;
}
.h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}
.h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}
 
/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 12px;
    Margin-bottom: 10px;
}

/*Two column layout*/
.two-column {
text-align: center;
    font-size: 0;
}

.two-column .column1 {
width: 100%;
    max-width: 450px;
    display: inline-block;
    vertical-align: middle;
}
.two-column .column2 {
width: 100%;
    max-width: 130px;
    display: inline-block;
    vertical-align: middle;
}
.two-column .column3 {
width: 100%;
    max-width: 290px;
    display: inline-block;
    vertical-align: middle;
}
.two-column .column4 {
width: 100%;
    max-width: 60px;
    display: inline-block;
    vertical-align: middle;
}
.two-column .column5 {
width: 100%;
    max-width: 360px;
    display: inline-block;
    vertical-align: middle;
}

.contents {
width: 100%;
}

.two-column .contents {
font-size: 12px;
    text-align: left;
}
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding-top: 0px;
    color:#ffffff;
}

.left-column {
    padding-left: 80px !important;
    padding-right: 0%;
    padding-bottom: 0px;
    float: left;
    text-align: center;
}
.right-column {
    padding-right: 80px !important;
    padding-left: 0%;
    padding-bottom: 0px;
    float: right;
    text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 400px) {
    .two-column .column {
        max-width: 50% !important;
        padding-left: 0%;
    }
    .right-column {
        padding: 2%;
        float: center;
    }
    .left-column {
        padding: 2%;
        float: center;
    }
    .two-column img {
        max-width: 100% !important;
    }
    img[class="img-max"]{
        max-width: 50% !important;
        height:auto !important;
    }
}
@media screen and (min-width: 401px) and (max-width: 620px) {
    .two-column .column3 {
        max-width: 50% !important;
        padding-left: 0%
    }
    img[class="img-max"]{
        max-width: 100% !important;
        height:auto !important;
    }
}


/* PRE-HEADER STYLES */
.hidden-preheader {
    display: none;
    font-size: 1px;
    color: #FFFFFF;
    line-height: 1px;
    font-family: Helvetica, Arial, sans-serif;
    max-height: 0px;
    max-width: 0px;
    opacity: 0;
    overflow: hidden;
}
.preheader {
    font-size: 10px; 
    font-family: Helvetica, Arial, sans-serif; 
    color: #222222; 
    padding-top: 15px;
    text-transform:uppercase;
}
.preheader a {
    color: #222222;
}

/* LOGO */
.logo {
    padding: 30px 0;
}

/* HIGHLIGHT BAR */
.hb-title {
    color:#FFFFFF;
    font-size:12px;
    font-family: Arial;
    text-transform:uppercase;
    padding-left:10px;
    line-height: 16px;
    padding-top:0px;
    padding-bottom:0px;
}

/* BUTTON PADDING */
.rsvp-button {
    padding-right: 20px !important;
    padding-bottom: 2px;
    padding-top: 3px;
    float:right;
    min-width: 100px;
}

/* SOCIAL MEDIA LINKS */
.social {
    padding:10px;
    padding-left:45px;
    padding-right:45px;
    text-transform:uppercase;
    font-family:Helvetica, Arial, sans-serif;
    font-size:10px;
}
.social-link {color:#252525;text-decoration:none;}

/* FOOTER */
.footer-wrap {font-size: 10px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#222222;}
.footer-wrap-bottom {padding-top:10px;padding-bottom:15px;}
.footer-copy {color:#222222;text-transform:uppercase;}

/* iOS BLUE LINKS */
.appleBody a, .appleFooter a {color:#222222; text-decoration: none;}


/* UNIVERSITY AND FACULTY COLOURS */

.school-gold {color: #FCD450;}
.school-red {color: #96172E;}
.ahs {color:#009AA6;}
.arts {color: #E98300;}
.engineering {color: #57068C;}
.environment {}
.math {color: #E0249A;}
.science {color: #0073CF;}

.button.ahs {}
.button.arts {}
.button.engineering {}
.button.environment {}
.button.math {}
.button.science {}

/* CUSTOM */

.when {
    padding-bottom:0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    vertical-align: top;
    text-align: left;
}
.when-copy {
    padding: 0 0 0px 25px;
    font-size: 12px;
    line-height:18px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: normal;
    text-align: left;
}
.where {
    padding:0;
    font-family: Helvetica, Arial, sans-serif;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    vertical-align: top;
    text-align: left;
}
.where-copy {
    padding: 0 0 0px 25px; 
    font-size: 12px;
    line-height:18px; 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
}
.lede {font-size: 18px; line-height: 28px;}